
  <div class="booyah-box col-10 offset-1">
    <h1>Alison Hardison</h1>
    <h2>SOFTWARE ENGINEER</h2>
    <br />
    <br />
    <br />
    <h3 id="about">About</h3>
      <div class="about-container">
      <div class="about">
        <hr class="grey"/>
      <p class="about">
            Alison Hardison is a stay at home mom with a passion for coding! This passion began when her son asked her to create a game from scratch on the Roblox Creator Application. She very quickly picked up on the Lua coding language and within her first day had created a custom game for her son. Currently, she is a student trying to learn everything she can to become a full-time web developer! 
      </p>
      <br />
      <br />
      
        <h4 id="skills">Skills</h4>
              <p class="skills">
                  Alison has developed proficiency and expertise
                  in the following programming languages.
                </p>

                <div class="img-fluid">
       <img src="assets/skillscopy.png" class="img-fluid" alt="">
    </div>


