<% @pages.each do |page| %>
  <div class="booyah-box col-10 offset-1">
    <h1><%= page.name %></h1>
    <i><%= page.about %></i><br /><br />
    <p><%= page.contact %></p><br />
  </div>


<% end %>
